@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

:root{
  --primary:#fe2c55;
    --font-family: 'ProximaNova', sans-serif;
  //default layout
  --default-layout-height-header: 60px;
  //contetn
  --default-layout-width-content: 1150px;
  --black-color: #000;
  --text-color: #333;
  --white-color: #fff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%
}

body{
     font-family: 'Roboto', sans-serif;
     font-size: 1.6rem;
     line-height: 1.5;
     text-rendering: optimizeLegibility;
}

button, input, [tabindex]{
  border: none;
  outline: none;
}

a[href]
{
  color: var(--text-color);
}